[workspace]
resolver = "2"
members = [
    "frost-core",
    "frost-ed25519",
    "frost-ed448",
    "frost-p256",
    "frost-ristretto255",
    "frost-secp256k1-evm",
    "frost-rerandomized",
    "gencode"
]

[profile.test.package."*"]
opt-level = 3