name: Coverage

on:
  workflow_dispatch:
  pull_request:
    path:
      - '**/*.rs'
      - '**/*.txt'
      - '**/Cargo.toml'
      - '**/Cargo.lock'
      - 'codecov.yml'
      - '.github/workflows/coverage.yml'

jobs:
  coverage:
    name: Coverage (+nightly)
    runs-on: ubuntu-latest
    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: full

    steps:
      - uses: actions/checkout@v2.4.0
        with:
          persist-credentials: false

      - uses: actions-rs/toolchain@v1.0.7
        with:
          # Pinned to workaround issue making cargo-llvm-cov fail, see
          # https://github.com/taiki-e/cargo-llvm-cov/issues/128
          # TODO: restore to just `nightly` after it's fixed
          toolchain: nightly-2022-01-14
          override: true
          profile: minimal
          components: llvm-tools-preview

      - name: Install cargo-llvm-cov cargo command
        run: cargo install cargo-llvm-cov

      - name: Run tests
        run: cargo llvm-cov --lcov --no-report

      - name: Generate coverage report
        run: cargo llvm-cov --lcov --no-run --output-path lcov.info

      - name: Upload coverage report to Codecov
        uses: codecov/codecov-action@v2.1.0
